extends main

block style
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/home.css")

block scripts
    script(type="text/javascript")
        if ("#{hash}" !== "") {
            window.location.hash    = "#{hash}";
        }

    script(type="text/javascript", src="/public/js/home.js")
    if locals.error
        script(type="text/javascript")
            this.error      = "#{error}"
    if locals.erroron
        script(type="text/javascript")
            this.erroron    = "#{erroron}";

block content
    div#logo.no-selec
    div#desc.no-selec web voice chat application
    div#choices.no-selec
      ul.clean
        li#jumpInBtn.choice.txt-shd Jump in
        li#logInBtn.choice.middle-choice.txt-shd Log in
        li#signUpBtn.choice.txt-shd Sign up
      ul
    div#choicesContainer
      span
        span
          span.stateGroup(rel="newNickname", style="top:5px;")
            span.stateIcon(rel="newNickname")
            span.errorMessage.none(rel="newNickname") Invalid Nickname
          span
            span.stateGroup(rel="joinNickName", style="top:5px;")
              span.stateIcon(rel="joinNickName")
              span.errorMessage.none(rel="joinNickName") Invalid Nickname
            span.stateGroup(rel="joinUrl", style="top:37px;")
              span.stateIcon(rel="joinUrl")
              span.errorMessage.none(rel="joinUrl") Invalid URL
        span
          span.stateGroup(rel="login_email", style="top:10px;")
            span.stateIcon(rel="login_email")
            span.errorMessage.none(rel="login_email") Invalid Email
          span.stateGroup(rel="login_password", style="top:42px;")
            span.stateIcon(rel="login_password")
            span.errorMessage.none(rel="login_password") Invalid Password
        span
          span.stateGroup(rel="signup_email", style="top:10px;")
            span.stateIcon(rel="signup_email")
            span.errorMessage.none(rel="signup_email") Invalid Email
          span.stateGroup(rel="signup_password", style="top:42px;")
            span.stateIcon(rel="signup_password")
            span.errorMessage.none(rel="signup_password", style="top:14px;") Invalid Password
          span.stateGroup(rel="signup_password_confirm", style="top:74px;")
            span.stateIcon(rel="signup_password_confirm")
      div#jumpIn.no-selec
        div#stepOne
          button#newRoomBtn.med-green.btn-submit.txt-shd
            span Create a new Room
          button#joinRoomBtn.blue-green.btn-submit.txt-shd
            span Join an existing Room
        div#newRoom
          form#quickLogin_form(method="POST", action='/quickLogin')
            input#newNickname.brdr(name="name", type="text", placeholder="Nickname", value="#{name}", required="true")
          button#newRoomCommit.light-blue.btn-submit.txt-shd(type="submit", form="quickLogin_form")
            span Create the Room
          button#newRoomCancel.grey-blue.btn-submit.txt-shd
            span Cancel
        div#joinRoom
          form
            input#joinNickname.brdr(type="text", placeholder="Nickname", required="true")
            input#joinUrl.no-brdr(type="text", placeholder="Room URL", required="true")
          button#joinRoomCommit.light-blue.btn-submit.txt-shd Join the Room
          button#joinRoomCancel.grey-blue.btn-submit.txt-shd Cancel
      div#logIn.no-selec
        form#login_form(method="POST", action="/login")
          input#login_email.brdr(name="mail", type="email", placeholder="Email", value="#{email}", required="true")
          input#login_password.no-brdr(name="password", type="password", placeholder="Password", required="true")
        button#login-btn.light-blue.btn-submit.txt-shd(type="submit", form="login_form")
          span Log in
        a(href="#password") Forgot password?
      div#signUp.no-selec
        form#signup_form(method="POST", action="/user")
          input#signup_email.brdr(name="mail", type="email", placeholder="Email", value="#{email}", required="true")
          input#signup_password.brdr(name="password", type="password", placeholder="Password", required="true")
          input#signup_password_confirm.brdr(name="passwordconfirm", type="password", placeholder="Confirm Password", required="true")
        button#signup-btn.light-blue.btn-submit.txt-shd(type="submit", form="signup_form") Sign Up
      if locals.error
        p#msg #{error}
