extends main

block style
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/bootstrap.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/jquery-ui-1.10.2.custom.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/font-awesome.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/jquery.jscrollpane.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/introjs.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/style.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/room.css")

block scripts
    script(type='text/javascript', src='/public/js/vendor/bootstrap.min.js')
    script(type="text/javascript", src="/public/js/vendor/jquery.ui.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.mousewheel.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.jscrollpane.js")
    script(type="text/javascript", src="/public/js/vendor/intro.js")
    script(type="text/javascript", src="/public/js/vendor/showdown.js")
    script(type="text/javascript", src="/public/js/module.js")
    script(type='text/javascript', src='/public/js/connections.js')
    script(type="text/javascript")
        window.Voicious.currentUser = {
            uid  : "#{uid}",
            name : "#{login}"
        };
        window.Voicious.room        = "#{rid}"
        if ("#{wsHost}" !== "" && "#{wsPort}" !== "") {
            window.ws          = {
                Host : "#{wsHost}",
                Port : parseInt("#{wsPort}")
            };
        if ('!{modules}' != "") {
          window.modules = JSON.parse('!{modules}');
          };
        }
    script(type="text/javascript", src="/public/js/room.js")

block content
  div.container-fluid.fill-height
    div.row-fluid.fill-height
        div#sidebar.fill-height.left.color-one.column
            img(src='/public/img/logo.png')
            p#login.textBtn #{login}
            span#acl #{trans.user}
            div#mediaBtn(data-step='1', data-intro='#{trans.mediaTuto}', data-position='right')
              a#cam.activable
                span#camSpan.icon.iconMedia.icon-facetime-video.dark-grey
                span#labelcam OFF
              a#mic.activable
                span#micSpan.icon.iconMedia.icon-microphone.dark-grey
                span#labelmic OFF
            div#sidebarAcc
              a#shareRoomLink(data-step='2', data-intro='#{trans.shareRoomTuto}', data-position='right')
                span#shareRoomSpan.icon.iconOther.icon-share-alt
                p#labelShareRoom #{trans.shareRoomID}
              div.accordionTab
                a#clipboardLink.accordionLink
                  span#clipboardSpan.icon.iconOther.icon-copy
                  p.labelOther #{trans.copyRoomID}
                a#inviteContactLink.accordionLink
                  span#inviteContactSpan.icon.iconOther.icon-plus
                  p.labelOther #{trans.inviteContacts}
                a#twitterLink.accordionLink
                  span#twitterSpan.icon.iconOther.icon-twitter
                  p.labelOther #{trans.shareOnTwitter}
                a#facebookLink.accordionLink
                  span#facebookSpan.icon.iconOther.icon-facebook-sign
                  p.labelOther #{trans.shareOnFacebook}
              a#manageRoomLink(data-step='3', data-intro='#{trans.manageRoomTuto}', data-position='right')
                span#manageRoomSpan.icon.iconOther.icon-wrench
                p#labelManageRoom #{trans.manageRoom}
              div.accordionTab
              a#tutoModeLink(href='javascript:void(0)', onclick='javascript:introJs().start();')
                span#tutoModeSpan.icon.iconOther.icon-question
                p#labelTutoMode #{trans.tutoModeLink}
              div.accordionTab
        div#content.fill-height.left.color-two
            div.fill-height.left.column
                ul#feeds(data-step='4', data-intro='#{trans.feedsTuto}', data-position='bottom')
            div#middle.fill-height.left.column(style='width:30%')
            div.fill-height.left.column
              div#mainCam.fill-height.video-wrapper