extends main

block style
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/bootstrap.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/jquery-ui-1.10.2.custom.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/font-awesome.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/jquery.jscrollpane.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/introjs.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/style.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/room.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/sidebar.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/chatText.css")

block scripts
    script(type='text/javascript', src='/public/js/vendor/bootstrap.min.js')
    script(type="text/javascript", src="/public/js/vendor/jquery.ui.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.mousewheel.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.jscrollpane.js")
    script(type="text/javascript", src="/public/js/vendor/intro.js")
    script(type="text/javascript", src="/public/js/vendor/showdown.js")
    script(type="text/javascript", src="/public/js/vendor/ZeroClipboard.min.js")
    script(type="text/javascript", src="/public/js/module.js")
    script(type='text/javascript', src='/public/js/connections.js')
    script(type='text/javascript', src='/public/js/commandManager.js')
    script(type='text/javascript', src='/public/js/buttonManager.js')
    script(type="text/javascript")
        window.Voicious.currentUser = {
            uid  : "#{uid}",
        };
        if ("#{wsHost}" !== "" && "#{wsPort}" !== "") {
            window.ws          = {
                Host : "#{wsHost}",
                Port : parseInt("#{wsPort}")
            };
        if ('!{modules}' != "") {
          window.modules = JSON.parse('!{modules}');
          };
        }
    script(type="text/javascript")
      $( document ).ready(function() {
            $("#facebookLink").click(function() {
                window.open("https://www.facebook.com/sharer/sharer.php?u=" + window.location.href, '', 'left=500,top=200,width=600,height=600');
            });

            text   = encodeURI("Join me on @voiciousapp: ");
            url    = encodeURI(window.location.href);
            $("#twitterLink").click(function() {
                window.open("http://twitter.com/share?text=" + text + "&url=" + url + "&related=voiciousapp", '', 'left=500,top=200,width=600,height=600');
            });
        });
    script(type="text/javascript", src="/public/js/room.js")
    script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
    audio#notification(src='')
block content
  div.container-fluid.fill-height
    div.row-fluid.fill-height
        div#sidebar.row-fluid.fill-height.left.color-one
          img#logo.center(src='/public/img/logo.png')
          div#userInfoCtn
            p#login(align="right") #{login}
            p#acl(align="right") #{trans.user}
          div#onOffCtn(data-step='0', data-intro='#{trans.mediaTuto}', data-position='right')
            button#cam.activable.red.color-one.bordered.shadowed
              i.icon-facetime-video.dark-grey
              span OFF
            button#mic.activable.red.color-one.bordered.shadowed
              i.icon-microphone.dark-grey
              span OFF
          div#sidebarAcc
            span.headerAcc.white.bordered.shadowed(data-step='1', data-intro='#{trans.shareRoomTuto}', data-position='right')
              i.icon-share-alt
              | #{trans.shareRoomID}
            ul.white
              li#clipboardLink
                i.icon-copy
                | #{trans.copyRoomID}
                div.notification-wrapper.none
                  div.notification.notification-success
                    i.icon-check-sign.icon-large
                    span.notification-content Link copied to clipboard
              li#twitterLink
                i.icon-twitter
                | #{trans.shareOnTwitter}
              li#facebookLink
                i.icon-facebook-sign
                | #{trans.shareOnFacebook}
        div#container.fill-height.color-two
          div#modArea.frame.fill-width
            ul#feeds.module.fill-height(data-step='2', data-intro='#{trans.feedsTuto}', data-position='right')
