extends main

block style
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/bootstrap.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/font-awesome.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/jquery.jscrollpane.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/introjs.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/style.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/voicious.css")

block scripts
    script(type='text/javascript', src='/public/js/vendor/bootstrap.min.js')
    script(type="text/javascript", src="/public/js/vendor/jquery.ui.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.mousewheel.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.jscrollpane.js")
    script(type="text/javascript", src="/public/js/vendor/intro.js")
    script(type="text/javascript", src="/public/js/vendor/showdown.js")
    script(type="text/javascript", src="/public/js/module.js")
    script(type='text/javascript', src='/public/js/connections.js')
    script(type="text/javascript", src="/public/js/room.js")
    script(type="text/javascript")
        if ("#{login}" !== "") {
            window.CurrentUser = "#{login}";
        }
        if ("#{wsHost}" !== "" && "#{wsPort}" !== "") {
            window.ws          = {
                Host : "#{wsHost}",
                Port : parseInt("#{wsPort}")
            };
        if ('!{modules}' != "") {
          window.modules = JSON.parse('!{modules}');
          };
        }

block content
  div#infos.none(rid=rid, uid=uid)
  div.container-fluid
    div.row-fluid
      div.span12.lightblue#blueLine
    div.row-fluid
      div#voicious_top.span12.darkgray
        div.span11.offset1
          div.button-wrap.border-thin
            button.btn.room-link
              i.icon-14.icon-link.icon-margin-six
              | #{trans.copyRoomID}
            button.btn.room-quit
              i.icon-14.icon-off.icon-margin-six
              | #{trans.closeRoom}
          div.button-wrap.border-thick
            button.btn.btn-blue
              i.icon-14.icon-lock.icon-margin-six
              | #{trans.manageAcess}
          div.button-wrap.border-thick
            button.btn.btn-blue
              i.icon-14.icon-th.icon-margin-six
              | #{trans.managePlugins}
          div.button-wrap.border-thick
            button.btn.btn-blue
              i.icon-14.icon-plus.icon-margin-six
              | #{trans.inviteContacts}
    div#middle-row.row-fluid
        div#textChat.span3.darkgray.module.fill-height
        div#userList-wrapper.span2.darkgray.fill-height
            div#userList
    div.row-fluid#bottom-row
      div.span12.darkgray#camera
