extends main

block style
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/bootstrap.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/font-awesome.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/jquery.jscrollpane.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/introjs.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/voicious.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/style.css")

block scripts
    script(type="text/javascript", src="/public/js/vendor/jquery.ui.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.mousewheel.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.jscrollpane.js")
    script(type="text/javascript", src="/public/js/vendor/intro.js")
    script(type="text/javascript", src="/public/js/vendor/showdown.js")
    script(type="text/javascript", src="/public/js/module.js")
    script(type='text/javascript', src='/public/js/connections.js')
    script(type="text/javascript", src="/public/js/room.js")
    script(type="text/javascript")
        if ("#{login}" !== "") {
            window.CurrentUser = "#{login}";
        }
        if ("#{wsHost}" !== "" && "#{wsPort}" !== "") {
            window.ws          = {
                Host : "#{wsHost}",
                Port : parseInt("#{wsPort}")
            };
        if ('!{modules}' != "") {
          window.modules = JSON.parse('!{modules}');
          };
        }

block content
  div.container-fluid(style='height:100%;')
    div.row-fluid
      div.span12.lightblue(style='min-height:5px;')
    div.row-fluid
      div#voicious_top.span12.darkgray
        div.span11.offset1
          div.button-wrap.border-thin
            button.btn.room-link
              i.icon-14.icon-link.icon-margin-six
              | Copy Room ID
            button.btn.room-quit
              i.icon-14.icon-off.icon-margin-six
              | Close Room
          div.button-wrap.border-thick
            button.btn.btn-blue
              i.icon-14.icon-lock.icon-margin-six
              | Manage Access
          div.button-wrap.border-thick
            button.btn.btn-blue
              i.icon-14.icon-th.icon-margin-six
              | Manage Plugin
          div.button-wrap.border-thick
            button.btn.btn-blue
              i.icon-14.icon-th.icon-margin-six
              | Invite Contacts