extends main

block style
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/bootstrap.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/jquery-ui-1.10.2.custom.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/font-awesome.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/jquery.jscrollpane.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/introjs.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/style.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/voicious.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/room.css")

block scripts
    script(type='text/javascript', src='/public/js/vendor/bootstrap.min.js')
    script(type="text/javascript", src="/public/js/vendor/jquery.ui.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.mousewheel.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.jscrollpane.js")
    script(type="text/javascript", src="/public/js/vendor/intro.js")
    script(type="text/javascript", src="/public/js/vendor/showdown.js")
    script(type="text/javascript", src="/public/js/module.js")
    script(type='text/javascript', src='/public/js/connections.js')
    script(type="text/javascript")
        window.Voicious.currentUser = {
            uid  : "#{uid}",
            name : "#{login}"
        };
        window.Voicious.room        = "#{rid}"
        if ("#{wsHost}" !== "" && "#{wsPort}" !== "") {
            window.ws          = {
                Host : "#{wsHost}",
                Port : parseInt("#{wsPort}")
            };
        if ('!{modules}' != "") {
          window.modules = JSON.parse('!{modules}');
          };
        }
    script(type="text/javascript", src="/public/js/room.js")

block content
  div.container-fluid.fill-height
    div.row-fluid.fill-height
        div#sidebar.fill-height.left.color-one.column
            img(src='/public/img/logo.png')
            p#login.textBtn #{login}
            span#acl #{trans.user}
            div#mediaBtn
              button#cam
              button#mic
            button#shareRoomBtn
            button#manageRoomBtn
        div#content.fill-height.left.color-two
            div.fill-height.left.column
                ul#feeds
            div.fill-height.left.column
                div#mainCam.fill-height.video-wrapper
            div.fill-height.right.column(style='width:30%')
                div#textChat.fill-height.color-three
