extends main

block style
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/jquery.ui.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/jquery.jscrollpane.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/room.css")

block scripts
    script(type="text/javascript", src="/public/js/vendor/jquery.ui.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.sizes.js")
    script(type="text/javascript", src="/public/js/vendor/jlayout.border.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.jlayout.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.mousewheel.js")
    script(type="text/javascript", src="/public/js/vendor/jquery.jscrollpane.js")
    script(type="text/javascript", src="/public/js/textChat.js")
    script(type="text/javascript", src="/public/js/event.js")
    script(type="text/javascript", src="/public/js/userList.js")
    script(type="text/javascript", src="/public/js/webRTC.js")
    script(type="text/javascript", src="/public/js/network.js")
    script(type="text/javascript", src="/public/js/utilities.js")
    script(type="text/javascript", src="/public/js/queue.js")
    script(type="text/javascript", src="/public/js/room.js")
    script(type="text/javascript")
        if ("#{login}" !== "") {
            window.CurrentUser = "#{login}";
        }

block content
    body
        div.fullscreen.none
        div#reportBugCtn.box.none
          textarea#reportBugTextarea
          center
            button#sendReport.roomBtnCtrl Send Report
        div#page.layout
            div.north
                div#header
                div#menu
                    p#room_logo voıċıoųs
                      span#beta Beta
                    div#room_control
                      p(room='#{room}', token='#{token}')#infos
                      div#room_url_box
                        span#share.icon.icon-share
                        p#room_url
                          span#room_text #{room}
                        button#shutdown.icon.icon-off
                      div#btnCtrlBox.hidden
                        button.roomBtnCtrl
                          span.icon.icon-lock
                          span.textBtn #{trans.manageAcess}
                        button.roomBtnCtrl
                          span.icon.icon-check-empty
                          span.textBtn #{trans.managePlugins}
                        button.roomBtnCtrl
                          span.icon.icon-plus
                          span.textBtn #{trans.inviteContacts}
                    div#userControl
                      span.icon.icon-user
                      p#login.textBtn #{login},
                        span#acl #{trans.user}
                      button#reportBug.roomBtnCtrl
                          span.icon.icon-dashboard
                          span.textBtn #{trans.reportBtn}
            div#body.center
              div.box#textChatContainer.west
                div#tcMessagesContainer
                div#tcInputBox
                  form#chatForm
                    input(type='text')#tcMessageInput
              div#mainCam.center
              div.box#userListContainer
                label.textBtn#userListTitle #{trans.userListTitle}
                ul#userList
                  li.userBox.user #{login}
            div.box#footer.south
              div#localThumbnails.textBtn
                label #{trans.receiving}
                  span#nbFeed 0
                label #{trans.feeds}
                div#localVideoContainer.video
                  div#notActivate
                    center#centeredLocal
                      label#feedNotActivate #{trans.feedNotActive}
                    center#centerButton
                      button#joinConference #{trans.activateCam}
                  video(autoplay)#localVideo.localVideo.hidden
              ul#videos
