div.box#userListContainer
  label.textBtn#userListTitle #{trans.userListTitle}
  ul#userList
    li.userBox.user #{login}
  div#roomNameArrow #{trans.roomNameArrow}
  div#reportBugArrow #{trans.reportBugArrow}
  div#textChatArrow #{trans.textChatArrow}
  div#userListArrow #{trans.userListArrow}
  div#endMessage #{trans.endMessage}
