!!! strict
html
  include includes/header
  body
    div
      h1 #{httpErrorCode} #{httpErrorMsg}
      br
      div
        label #{errno}
        br
        label #{syscall}
        br
        label #{text}